html, body, #root {
  background: var(--body-background);
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.no-results {
        background-color: var(--no-results-bg);
        min-height: 40vh;
        display: grid;
        place-items: center;
        text-align: center;
        opacity: .85;
}
.no-results p {
        color: var(--no-results-text);
        font-weight: var(--weight-semi-bold);
}
.card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        margin-top: .75rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
.card-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
}
@media (max-width: 600px) {
.card-grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}
}