.modal-overlay { 
        /* modal-overlay is the layer that's between the normal card view and the modal-content that contains larger image. Since in your current plan the modal-content takes up the whole screen, modal-overlay is entirely hidden. Consider removing this when all is settled. */
        position: fixed; 
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--modal-overlay-bgc);
        display: block;
        z-index: 1000;
}
.modal-nav-and-text {
        background-color: white;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0; 
        margin: 30px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 6px;
}
@media (min-width: 601px) and (max-width: 1024px) {
.modal-nav-and-text {
        opacity: 1;
}
}
@media (max-width: 600px) {
.modal-nav-and-text {
        opacity: 1;
        background-color: var(--modal-nav-and-text);
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem; 
        margin: 3%;
        padding: 2.5%;
        box-sizing: border-box;
        border-radius: 6px;
}
}
.modal-text {
        background-color: var(--modal-text);
        padding: 4px 0 0 10px;
        border-radius: 6px;
        flex: 1 1 93%;
}

.modal-nav {
        background-color: var(--modal-nav);
        height: 40px;
        display: flex;
        justify-content: end;
        padding: 0;
        box-sizing: border-box;
        border-radius: 6px;
        flex: 1 1 7%;
}
@media (min-width: 601px) and (max-width: 1024px) {
.modal-nav {
        opacity: 1;
}
}
@media (max-width: 600px) {
.modal-nav {
        opacity: 1;
}
}
.modal-nav-button { /* e: button */
        height: 100%;
        margin: -.15rem 0 0 -.15rem;
        padding: 0;
        text-align: right;
        background-color: var(--modal-nav-button-bg);
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
.modal-nav i {
        font-size: 2.5rem;
        transform: rotate(90deg);
        color: rgba(var(--alder_2_alpha),.5);
}
.modal-nav i:hover { /* e: img */
        color: black;
        transition-duration: .4s;
}

