.case-studies-outer {
        z-index: 998;
        background-color: var(--outer-no-bg); 
        padding-bottom: 12px; 
}
@media (min-width: 601px) and (max-width: 1024px) {
.case-studies-outer {
        z-index: 998;
}
}
@media (max-width: 600px) {
.case-studies-outer {
        z-index: 998;
}
}
.case-studies-inner {
        z-index: 998;
        margin: 0 auto;
        padding: 0;
        display: block;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
.case-studies-inner {
        z-index: 998;
}
}
@media (max-width: 600px) {
.case-studies-inner {
        z-index: 998;
}
}        
.card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        margin: -20px 0 0 0;
        padding: 0rem 1rem 1rem 1rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
.card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
}
}
@media (max-width: 600px) {
.card-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
}
}