.card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        margin-top: .75rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
.card-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
}
@media (max-width: 600px) {
.card-grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}
}