footer {
        z-index: 1000;
        padding-top: 5px;
        box-sizing: border-box;
        background: var(--footer); 
        position: fixed; 
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--footer-height); 
}
@media (min-width: 601px) and (max-width: 1024px) {
footer {
        z-index: 998;
}
}
@media (max-width: 600px) {
footer {
        z-index: 998;
}
}
.footer-inner {
        z-index: 998;
        background-color: var(--footer-inner);
        margin: 0 auto;
        padding: 0 1rem 0 .25rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        border: none;
        border-radius: .3rem;
        width: 100%;
        max-width: 1000px;
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-inner {
        z-index: 998;
        padding: 0 1rem 0 1rem;
}
}
@media (max-width: 600px) {
.footer-inner {
        z-index: 998;
        padding: 0 1rem 0 1rem;
}
}
.footer-left {
        z-index: 998;
        background-color: var(--footer-left); 
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-left {
        z-index: 998;
}
}
@media (max-width: 600px) {
.footer-left {
        z-index: 998;
}
}
.footer-right {
        z-index: 998;
        background-color: var(--footer-left); 
        padding: 0;
}
.footer-right .p-small {
        color: rgba(255,255,255,.9);
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-right {
        z-index: 998;
}
}
@media (max-width: 600px) {
.footer-right {
        z-index: 998;
}
}
.footer-right p {
        z-index: 998;
        background-color: var(--footer-left); 
        margin: 0;
        padding: 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
.footer-right {
        z-index: 998;
}
}
@media (max-width: 600px) {
.footer-right {
        z-index: 998;
}
}