header {
        z-index: 1000;
        background: var(--header-outer);
        height: 56px; 
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 3px 0;
        border: none;
        position: fixed;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
header {
        z-index: 999;
        background: var(--header-outer-test-tablet);
        height: 51px; 
}
}
@media (max-width: 600px) {
header {
        z-index: 999;
        background: var(--header-outer-test-cell);
        height: 44px; 
}
}
.header-inner {
        z-index: 1000;
        background-color: var(--header-inner); 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
        max-width: 1000px;    
        margin: 0 auto;
        padding: 3px 0 0 0;
        box-sizing: border-box;
        border-radius: 0;
        border: 0;
} 
@media (min-width: 601px) and (max-width: 1024px) {
.header-inner {
        z-index: 1000;
        padding: 3px .7rem 0 .8rem;
}
}
@media (max-width: 600px) {
.header-inner {
        z-index: 1000;
        padding: 3px .7rem 0 .8rem;
}
}
.header-buttons {
        z-index: 1000;
        background-color: var(--header-buttons); 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-radius: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2rem;
        flex: 0 0 auto;
        width: 6vw;
        transition: opacity 0.4s ease;
}

@media (min-width: 601px) and (max-width: 1024px) {
.header-buttons {
        z-index: 1000;
        margin: .1rem 0 0 0;
        width: 10vw;
}
}
@media (max-width: 600px) {
.header-buttons {
        z-index: 1000;
        margin: .1rem 0 0 0;
        gap: 1.5rem;
        width: 10vw;
}
.call {
        display: none;
        color: red;
}
}