header {

        /* 
        display: none;
        */




        /* 
        opacity: 0%;
        */
        z-index: 999;
        background: var(--header-outer); 
        top: 0;
        left: 0;
        margin: 0;
        padding: 4px 12px;
        border: none;
        position: sticky;
}
@media (min-width: 601px) and (max-width: 1024px) {
header {
        z-index: 999;
}
}
@media (max-width: 600px) {
header {
        z-index: 999;
}
}
.header-inner {
        z-index: 1000;
        background-color: var(--header-inner); 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: .8rem;
        max-width: 1000px;    
        height: 50px;    
        margin: 0 auto;
        padding: .16rem 0 .4rem 0;
        box-sizing: border-box;
        border-radius: 0;
        border: 0;
} 
@media (min-width: 601px) and (max-width: 1024px) {
.header-inner {
        z-index: 1000;
        height: 44px;    
}
}
@media (max-width: 600px) {
.header-inner {
        z-index: 1000;
        height: 40px;    
}
}
.header-buttons {
        z-index: 1000;
        background-color: var(--header-buttons); 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-radius: 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: .3rem;
        flex: 0 0 auto;
        width: 9vw;
        transition: opacity 0.4s ease;
}

@media (min-width: 601px) and (max-width: 1024px) {
.header-buttons {
        z-index: 1000;
        margin: .1rem 0 0 0;
        width: 15vw;
}
}
@media (max-width: 600px) {
.header-buttons {
        z-index: 1000;
        margin: .1rem 0 0 0;
        gap: .4rem;
        width: 16vw;
}
.call {
        display: none;
        color: red;
}
}