/* Runtime-controlled scrollbar compensation
   (JS sets --sbw and toggles .has-scroll on <html>) */
:root {
  --sbw: 0px; /* scrollbar width (computed at runtime) */
}
html.no-scroll header, html.no-scroll body, html.no-scroll footer { 
        padding-right: var(--sbw); 
}
@media (min-width: 601px) and (max-width: 1024px) {
html.no-scroll header, html.no-scroll body, html.no-scroll footer { 
        opacity: 1;
        padding-right: 0; 
}
}
@media (max-width: 600px) {
html.no-scroll header, html.no-scroll body, html.no-scroll footer { 
        opacity: 1;
        padding-right: 0; 
}
}

















body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
