.sample-text-outer {
        z-index: 998;
        background-color: var(--sample-text-outer);
        display: none; 
}
@media (min-width: 601px) and (max-width: 1024px) {
.sample-text-outer {
        z-index: 998;
}
}
@media (max-width: 600px) {
.sample-text-outer {
        z-index: 998;
}
}
.sample-text-inner {
        z-index: 998;
        margin: 0 auto;
        padding: 1rem;
        display: block;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
.sample-text-inner {
        z-index: 998;
}
}
@media (max-width: 600px) {
.sample-text-inner {
        z-index: 998;
        padding: .8rem;
}
}